{% extends "backend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1> Teacher View. </h1>

<div class="container"> 
    <form method="post" action = "{% url 'home' %}">
        {% csrf_token %}
    <div class="row">
      <div class="col-3">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
    {{ form.subject|as_crispy_field }}
    <div style="margin: 10px">
    <button type="submit" class="btn btn-success">Save Teacher</button>
    </div>
    </form>
</div>

{% endblock %}